<div class="banner">
  <div class="container">
    <div class="banner-top">
      <div class="banner-text">
        <h2>Aliquam erat</h2>
        <h1>Suspendisse potenti</h1>
        <div class="banner-btn">
          <a href="single.html">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="articles">
  <div class="container">
    <div class="article-main">
      <div class="col-md-8 about-left">
        <div class="presentation">
          <p>Find here</p>
          <h3>Last articles</h3>
        </div>
        <%= erb :'partial/_list_articles' %>
        <div class="banner-btn  col-md-12 text-center">
          <a href="/articles">See More</a>
        </div>
      </div>
      <%= erb :'partial/_extern_link' %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>