<div class="header">
  <div class="container">
    <div class="head">
      <div class="navigation">
        <span class="menu"></span>
        <ul class="navig">
          <li><a href="/"  class="active">Home</a></li>
          <li><a href="/articles">Articles</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="header-right">
        <div class="search-bar">
          <form method="POST" action="/search">
            <input type="text" value="Search" name="search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
            <input type="submit" value="">
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>